@import '~antd/dist/antd.css';

.App {
  margin:0;
  padding: 0;
  text-align: center;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}