.main-form-container {
  display: flex;
  justify-content: center;
  padding: 30px 30px 30px 30px;
  height: 100%
}

.editor-container {
  display: flex;
  width: 1200px;
  margin: auto;
}

.editor-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.editor-form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editor-form-input {
  margin: 0px 0px 20px 0px;
  width: 100%;
}

.editor-title {
  margin-bottom: 20px;
}

.editor-button {
  margin-top: 20px;
  align-self: flex-end;
}

.editor-bottom-container {
  width: 100%;
  padding: 20px;
}
.editor-bottom-container button.btn {
  width:100%;
  transition: all 0.15s ease-in-out;
}
.editor-bottom-container button.publish {
  background-color:#008D36;
}
.editor-bottom-container {
  display:flex;
  flex-direction:column;
}
.label-input-container {
  display:flex;
  align-items:center;
  margin-bottom:20px;
}
.aside{
  width: 20%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.editor-group{
  display: flex;
  flex-direction: column;
  width: 78.5%;
  background-color: white;
  border-radius: 5px;
  padding: 20px
}

.upload-img-container {
  border: solid 1px lightgray;
  border-radius: 5px;
  cursor:pointer;
  padding: 10px;
}

.upload-img-container .editor-form-input {
  margin-bottom: 0;
}

.img-preview-container {
  width: 100%;
  padding: 10px;
}

.img-preview {
  width: 150px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

  .editor-form-input-container input, .editor-group, .aside {
    width: 100%;
  }

  .editor-form-input-container input {
    margin: 0px 0px 10px 0px;
  }

  .editor-group {
    margin: 0px
  }

}