.main-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editor-form input {
  margin: 0px 0px 10px 0px;
  width: 100%;
}