.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%; }

thead th {
  border-bottom: 2px solid #dedede; }

tfoot th {
  border-top: 2px solid #dedede; }

td {
  border-bottom: 1px solid #dedede; }

th,
td {
  text-align: left;
  padding: .5rem; }

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab; }

.striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8; }

.contain-table {
  overflow-x: auto;
 }

@media (min-width: 600px) {
  .contain-table {
    width: 100%; } }