.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: gainsboro;
  padding: 10px;
}
.render-list > thead > tr > td {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}

.form-inline label {
  margin: 10px;
}

.form-top {
  padding-top: 20px;
}
.first-tr {
  font-size: 18px;
  font-weight: 600;
}

.input-form-all {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 18%;
}

.input-form-all:hover {
  border: solid 1px;
  border-color: #0D7AE0;
  transition: ease-in 200ms
}

.input-form-all:focus {
  border-color: #40a9ff;
  border-right-width: 1px;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.form-button {
  padding: 10px 20px;
  background-color: #1890ff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white;
}

.form-button:hover {
  cursor: pointer;
  background-color: #0d7ae0;
}

.upload-img-inline-container {
  display: flex;
  align-items: center;
}

.upload-img-inline-container .editor-form-input {
  margin: 0;
  background-color: transparent;
  height: 40px;
  padding: 0;
}

.img-preview {
  height: 60px;
  margin: 0px 10px;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 10px; 
  border: 1px solid #ccc; 
  text-align: center;
  width: 20%;
}
.render-list td:nth-child(1){
  text-align: left;
}

.edit-icon {
  font-size: 24px;
  color: #1a8ffb;
}

.delete-icon {
  font-size: 24px;
  color: #ee5253;
}

@media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
  display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
  }

}