.dashboard-main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.shortlink-container {
  width: 20vw;
  padding-bottom: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: white;
}

.shortlink-container h2 {
  text-align: left;
  font-size: 16px;
  border-bottom:1px solid #efefef;
  width: 100%;
  padding: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.01);
}

.shortlink-container h3 {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.single-shortlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.single-shortlink:hover {
  background-color:#efefef;
}