.dashboard-main-main {
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}
.dashboard-main-container {
    display:flex;
    justify-content:center;
}
.dashboard-container {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    margin:20px;
    padding: 0 20px 20px 20px;
    background-color:white;
    width:400px;
    min-height:220px;
    position:relative;
}
.dashboard-container h2 {
    text-align:left;
    font-size:14px;
    border-bottom:1px solid #efefef;
    width: 100%;
    left: 0;
    position: absolute;
    padding:10px 20px 10px 20px; 
    background-color:rgba(0, 0, 0, 0.01);
}
.dashboard-container .single-article:nth-of-type(1) {
    margin-top:50px;
}
.dashboard-all-link {
    position:absolute;
    bottom:10px;
    left:50%;
    transform:translateX(-50%);
}
.single-article {
    width:100%;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:transparent;
    transition: all 0.2s ease-in-out;
    padding:0 5px;
}
.single-article:hover {
    background-color:#efefef;
}

.single-article h3 {
  margin: 0;
  font-weight:300;
  font-size:14px;
}