body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-file{
    
    border-radius: 3px;
    padding: 7px 12px;
    font-size: 16px;
    color: #f5f5f5;
    text-align: center;
    cursor: pointer;
    max-width: 250px;
    display: block;
    margin: 0 auto;
}
.img-uploaded{
  width: 60px;
  height: 60px;
}

main.ant-layout-content {
  overflow-y: auto;
}

.btn {
  padding: 10px 20px;
  background-color: #1890ff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white;
  vertical-align: middle;
}

.btn:hover {
  cursor: pointer;
  background-color: #0d7ae0;
}

.btn:focus {
  outline: none;
}

input {
  box-sizing: border-box;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type='text']:hover, input[type='search']:hover, input[type='email']:hover, input[type='password']:hover {
  border: solid 1px;
  border-color: #0D7AE0;
  transition: ease-in 200ms
}

input[type='text']:focus, input[type='search']:focus, input[type='email']:focus, input[type='password']:focus, input[type='checkbox']:focus {
  border-color: #40a9ff;
  border-right-width: 1px;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

.hide-label {
  display: none;
}

.hidden {
  display: none;
}
