.logo-container {
  height: 64px;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
}

.site-layout .site-layout-background {
  background: #fff;
  min-width: 250px;
}
