header.ant-layout-header.site-layout-background {
  background-color: #020c17;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hello {
  color:white;
}
.dropdown-link {
  color: rgba(0, 0, 0, 0.65);
  transition-duration: 2ms;
}

.dropdown-link:hover {
  color: rgba(0, 0, 0, 0.85);
}

.ant-dropdown-toggler {
  cursor: pointer;
}
