header.ant-layout-header.site-layout-background {
  background-color: #020c17;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span.ant-dropdown-toggler.ant-dropdown-trigger, 
span.ant-dropdown-toggler.ant-dropdown-trigger.ant-dropdown-open {
  margin-right: 48px;
}
.hello {
  margin-left:20px;
  color:white;
}
.dropdown-link {
  color: rgba(0, 0, 0, 0.65);
  transition-duration: 2ms;
}

.dropdown-link:hover {
  color: rgba(0, 0, 0, 0.85);
}

.ant-dropdown-toggler {
  cursor: pointer;
}
